@import '../../../config-scss/rem-calc.scss';
:host{
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        padding: rem-calc(40) 0 ;

       
        }
       
    }   
    .myteam{
        display: flex;
        justify-content: center;
    }